*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   font-family: 'poppins', sans-serif;
}
.logo-container {
    position: absolute;
    top: 0;
    right: 0;
    float: right;
  }
  
  .logo-container img {
    width: 200px; 
    height: auto;
    width: 150px; 
    border-radius: 50%;
    padding: 20px;
    
  }
  
.hero{
    width: 100%;
    height: 100vh;
    background-image:linear-gradient(rgba(12,3,51,0.3),rgba(12,3,51,0.3));
    position:relative;
    padding: 0 5%;
    display: flex;
    align-items: center;
    justify-content: center;
}
nav{
    width: 100;
    position: absolute;
    top:0;
    left:0;
    padding: 20px 8%;
    display: flex;
    align-items: center;
}
nav ul li{
    list-style: none;
    display: inline;
    margin-left: 40px;
}
nav ul li a{
text-decoration: none;
color:#fff ;
font-size: 17px;
}
.content{
    text-align: left;

}
.content h3{
    font-size: 60px;
    text-align: left;
    color:#fff;
    font-weight: 300;
}
.content h1 {
    font-size: 70px;
    text-align: left;
    color: #fff;
    font-weight: 300;
    transition: .5s;
}

.content h1:hover {
    -webkit-text-stroke: 2px plum;
    color: transparent; 
}
.content h5{
    font-size: 29px;
    text-align: left;
    color:#fff;
    font-weight: 50;
    
}
.content a{
    text-decoration: none;
    display: inline-block;
    color: #fff;
    font-size: 24px;
    border: 2px solid #fff;
    padding: 14px 70px;
    border-radius: 50px;
    margin-top: 20px;
}
.back-video{
position:fixed;
right: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit:cover; 
    z-index: -1;

}

    footer {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        margin: 80px;
        margin-bottom: 30px;
    }
    
    .footer-content {
        width: 100%;
        padding: 70px, 30px, 20px;
    }
    
    .social {
        display: flex;
        justify-content: center;
    }
    
    .social a {
        text-decoration: none;
        padding: 10px;
        /* background-color: #283953; */
        color: #f1ede6;
        margin: 10px;
        border-radius: 50%;
        font-size: 20px;
    }
    
    .footernav ul {
        display: flex;
        justify-content: center;
    }
    
    .footernav ul li a {
        color: #f1ede6;
        margin: 20px;
    }
    
    .footer-bottom {
        display: flex;
        justify-content: center;
        color: #f4ebdc;
        margin-left: 40px;
    }